body {
margin: 0;
padding: 0;
color: #212121;
font-family: 'Roboto', sans-serif;
}
ul {
list-style-type: none;
}
a {
text-decoration: none;
color: #757575;
}
.toplogo {
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: #2196F3;
}
.botlogo {
position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 60px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}
.topspan {
color: black;
}
.botspan {
color: white;
}
header {
position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background-color: #ECECEC;
}
.nav > li > a{
color: #212121;
}
.nav > .li1 {
position: absolute;
width: 45px;
height: 16px;
left: 453px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.nav>.li1>a:hover {
color: #2196F3;
}
.nav>.li2 {
position: absolute;
width: 45px;
height: 16px;
left: 548px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}
.nav>.li2>a:hover {
color: #2196F3;
}
.nav>.li3 {
position: absolute;
width: 45px;
height: 16px;
left: 670px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}
.nav>.li3>a:hover {
color: #2196F3;
}
.emtel > .li1 {
position: absolute;
width: 135px;
height: 16px;
left: 1050px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.emtel > .li2 {
position: absolute;
width: 132px;
height: 16px;
left: 1230px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.emtel >li>a:hover{
color: #2196F3;
}
.sec1 {
position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;
background-color: #2F303A;
}
h1 {
position: absolute;
width: 696px;
height: 120px;
left: 452px;
top: 200px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button {
position: absolute;
width: 216px;
height: 50px;
left: 692px;
top: 430px;
background-color: #2196F3;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;


position: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
cursor: pointer;
}
h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}
.sec2 > h2 {
position: absolute;
width: 271px;
height: 42px;
left: 670px;
top: 694px;
}
.features > .li1 {
position: absolute;
width: 270px;
height: 98px;
left: 215px;
top: 774px;
}
.features > .li2{
position: absolute;
width: 270px;
height: 74px;
left: 515px;
top: 774px;
}
.features > .li3{
position: absolute;
width: 270px;
height: 74px;
left: 815px;
top: 774px;
}
.features > .li4{
position: absolute;
width: 270px;
height: 98px;
left: 1115px;
top: 774px;
}
.features > .li1 > h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.features > .li1 > p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;
}
.features > .li2 > h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.features > .li2 > p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;
}
.features > .li3 > h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.features > .li3 > p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;
}
.features > .li4 > h3 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}
.features > .li4 > p {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: #757575;
}
.sec3 > h2{
position: absolute;
width: 376px;
height: 42px;
left: 615px;
top: 966px;
}
.img > .li1 {
position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1058px;
}
.img > .li2 {
position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1058px;
}
.img > .li3 {
position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1058px;
}
.sec4 {
position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1446px;
}
.sec4 > h2 {

position: absolute;
width: 274px;
height: 62px;
left: 668px;
top: 94px;
}
.team {
position: absolute;
width: 1170px;
height: 368px;
top: 168px;
}
.team > .li1 > figure {
position: absolute;
width: 270px;
height: 368px;
left: 165px;
top: 50px;

background: #FFFFFF;
text-align: center;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team > .li2 > figure {
position: absolute;
width: 270px;
height: 368px;
left: 465px;
top: 50px;

background: #FFFFFF;
text-align: center;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team > .li3 > figure {
position: absolute;
width: 270px;
height: 368px;
left: 765px;
top: 50px;

background: #FFFFFF;
text-align: center;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team > .li4 > figure {
position: absolute;
width: 270px;
height: 368px;
left: 1065px;
top: 50px;
text-align: center;
background: #FFFFFF;


box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
footer {
position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2094px;
background: #2F303A;
}
address {
position: absolute;
width: 271px;
height: 81px;
left: 180px;
top: 111px;
}
address > ul > li > a {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
address > ul > li > .email {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}
